:root {
    --main-color: #00E991;
    --secondary-color: #344C62;
    --black-color: #151F28;
    --white-color: #F4F4F4;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
}
header .nav-bar {
    background-color: var(--black-color);
    min-width: 320px;
}
header .nav-bar ul {
    width: 95%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header .nav-bar .nav-bar--menu {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("../assets/icons/menu.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
header .nav-bar .nav-bar--logo {
    width: 180px;
    height: 30px;
    display: inline-block;
    background-image: url("../assets/logos/renlin-code.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
header .nav-bar .nav-bar--telephone-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("../assets/icons/telephone.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
header .nav-bar .nav-bar--telephone {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
@media (max-width: 930px){
header .nav-bar .nav-bar--telephone-number {
    display: none;
}}
header .nav-bar .nav-bar--telephone-number {
    color: var(--white-color);
    font-size: 1.8rem;
    margin-left: 10px;
}
main {
    background-color: var(--black-color);
    width: 100%;
    min-width: 320px;
}
.section-container {
    max-width: 930px;
    margin: 0 auto;
    width: 95%;
}
.main-section {
    height: auto;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
.main-section--titles-container {
    height: auto;
    margin: 0 auto;
    padding-top: 20px;
    font-family: "Russo One", sans-serif;
    font-weight: bold;
    color: var(--white-color);
}
.main-section--titles-container p {
    font-size: 1.4rem;
    line-height: 1.6rem;
}
.main-section--titles-container h1 {
    margin-top: 18px;
    font-size:6rem;
    line-height: 6.2rem;
}
.main-section--background-img {
    width: 300px;
    height: 290px;
    margin: 0 auto;
    background-image: url("../assets/images/photo1647601174.jpeg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.main-section--arrow-down {
    width: 24px;
    height: 12px;
    position: absolute;
    bottom: 10px;
    left: calc(50% - 20px);
    background-image: url("../assets/icons/arrow-down.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.section-about-me {
    height: auto;
    width: 100%;
    background-color: var(--white-color);
}
.title-container {
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: center;
}
.title-container span {
    display: inline-block;
    width: 50px;
    height: 4px;
    border-radius: 2px;
}
.section-about-me .white-section--title-container span {
    background: var(--black-color);
}
.title-container h2 {
    font-family: "Russo One",sans-serif;
    font-size: 3rem;
    margin: 40px 10px;
}
.section-about-me .white-section--title-container h2 {
    color: var(--black-color);
}
.section-article {
    display: flex;
    flex-direction: column;
}
@media (min-width: 930px){
    .section-article {
        flex-direction: row;
    }
    .section-article .section-about-me--article-img-container {
        order: -1;
        margin-right: 20px;
        }}    
.section-article p {
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-bottom: 20px;
}
.section-about-me .white-section-article p {
    color: var(--black-color);
}
.section-about-me--article-img-container {
    width: 320px;
    min-width: 320px;
    margin: 0 auto;   
    height: 340px;
    background-color: var(--main-color);
}
.section-certificates .black-section--title-container span {
    background: var(--white-color);
}
.section-certificates .black-section--title-container h2 {
    color: var(--white-color);
}
.section-certificates .black-section-article p {
    color: var(--white-color);
}
.section-certificates .black-section-article .certificates-slide {
    width: 100%;
    min-width: 320px;
    margin: 0 auto;   
    height: 180px;
    background-color: var(--black-color);
}
.certificates-slide .certificate {
    width: 165px;
    height: 127px;
    display: block;
    margin: 0 auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.certificates-slide .certificate1 {
    background-image: url("../assets/images/certificate-frontend-mini.png");
}
.certificates-slide .certificate2 {
    background-image: url("../assets/images/certificate-frontend-practic-mini.png");
}
.certificates-slide .certificate3 {
    background-image: url("../assets/images/certificate-html-and-css-mini.png");
}
.certificates-slide .certificate4 {
    background-image: url("../assets/images/certificate-html-and-css-practic-mini.png");
}
.certificates-slide .certificate5 {
    background-image: url("../assets/images/certificate-basic-js-mini.png");
}
.certificates-slide .certificate6 {
    background-image: url("../assets/images/certificate-basic-js-practic-mini.png");
}
.certificates-slide .certificate7 {
    background-image: url("../assets/images/certificate-responsive-mobile-first-mini.png");
}
.certificates-slide .certificate8 {
    background-image: url("../assets/images/certificate-scope-mini.png");
}
.certificates-slide .certificate9 {
    background-image: url("../assets/images/certificate-terminal-mini.png");
}
.certificates-slide .certificate10 {
    background-image: url("../assets/images/certificate-software-engineering-mini.png");
}
.certificates-slide .certificate11 {
    background-image: url("../assets/images/certificate-git-github-mini.png");
}
.certificates-slide .certificate12 {
    background-image: url("../assets/images/certificate-basic-js-OOP-mini.png");
}